/* COLORS
 * When creating a new skin, 
 * copy/paste the following section and 
 * modify color codes.
 *****************************************/

@text-color-1: #70007B;
@text-color-2: #000000;
@background-color-1: #FFACDA;
@background-color-2: #FFACDA;
@border-color-1: #606060;
@border-color-2: #70007B;
@infoPanel-color-1: @text-color-1;
@infoPanel-color-2: #FEC7E6;
@rename-color-1: @text-color-2;
@rename-color-2: @text-color-1;
@menu-color-1: @text-color-2;
@menu-color-2: #EEEEEE;
@odd-result-color: #FEC7E6;
@playing-row-color-1: #F07BFB;
@playing-row-color-2: #70007B;
@selected-color: #F583B4;

/* FUNCTIONS
*******************************/

.bottomToolbar() {
	background:-webkit-gradient(linear, left bottom, left top, color-stop(50%, #F583B4), color-stop(80%, #F07BFB));
	background:-moz-linear-gradient(center bottom, #F583B4 50%, #F07BFB 80%);
	background:-o-linear-gradient(bottom, #F583B4 50%, #F07BFB 80%);
	background:linear-gradient(center bottom, #F583B4 50%, #F07BFB 80%);
}

.playlistbar() {
	background:-webkit-gradient(linear, left bottom, left top, color-stop(50%, #F07BFB), color-stop(80%, #F583B4));
	background:-moz-linear-gradient(center bottom, #F07BFB 50%, #F583B4 80%);
	background:-o-linear-gradient(bottom, #F07BFB 50%, #F583B4 80%);
	background:linear-gradient(center bottom, #F07BFB 50%, #F583B4 80%);
    border-top: 1px solid rgb(114,114,114);
    border-bottom: 1px solid #70007B;
	text-shadow: 0px 0px 0px transparent;
}

.fatbar() {
	background:-webkit-gradient(linear, left bottom, left top, color-stop(50%, #F07BFB), color-stop(80%, #F583B4));
	background:-moz-linear-gradient(center bottom, #F07BFB 50%, #F583B4 80%);
	background:-o-linear-gradient(bottom, #F07BFB 50%, #F583B4 80%);
	background:linear-gradient(center bottom, #F07BFB 50%, #F583B4 80%);
    border-top: 1px solid #70007B;
    border-bottom: 1px solid rgb(114,114,114);
	text-shadow: 0px 0px 0px transparent;
}

/* OVERRIDE
*******************************/

#info-panel {
	box-shadow: inset 0px 3px 10px 0px @selected-color;
}

#left-menu .playlistElem.selected {
	color: @text-color-2;
}
#fatbar .box {
    border-right: 1px solid #70007B;
}

/* RESET text-shadows */
.playlistElem,
#login a,
#new-playlist,
#left-menu .playlistElem.selected,
.alternatives > .playing,
.results > .video,
.results > .selected, 
.results > .selected:nth-child(odd) {
	text-shadow: 0px 0px 0px transparent;
}
