/* COLORS
 * When creating a new skin, 
 * copy/paste the following section and 
 * modify color codes.
 *****************************************/

@text-color-1: #C8DFE8;
@text-color-2: #D4D3CE;
@background-color-1: #3483A4;
@background-color-2: #016D9B;
@border-color-1: #606060;
@border-color-2: #50AFCB;
@infoPanel-color-1: @text-color-1;
@infoPanel-color-2: @playing-row-color-1;
@rename-color-1: #000;
@rename-color-2: @text-color-1;
@menu-color-1: #3483A4;
@menu-color-2: #EEEEEE;
@odd-result-color: rgba(151, 253, 255, 0.3);
@playing-row-color-1: rgba(0,0,0,0.5);
@playing-row-color-2: #FFF;
@selected-color: #393858;

/* FUNCTIONS
*******************************/

.bottomToolbar() {
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0%, #9BFFFE), color-stop(8%, #088CBE), color-stop(50%, #01648D), color-stop(50%, #3685A4), color-stop(80%, #60A7C6), color-stop(100%, #76BFDC));
	background:-moz-linear-gradient(center bottom, #9BFFFE 0%, #088CBE 8%, #01648D 50%, #3685A4 50%, #60A7C6 80%, #76BFDC 100%);
	background:-o-linear-gradient(bottom, #9BFFFE 0%, #088CBE 8%, #01648D 50%, #3685A4 50%, #60A7C6 80%, #76BFDC 100%);
	background:linear-gradient(center bottom, #9BFFFE 0%, #088CBE 8%, #01648D 50%, #3685A4 50%, #60A7C6 80%, #76BFDC 100%);
}

.playlistbar() {
    background:rgba(0,0,0,0.5);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* OVERRIDE
*******************************/
#content-right {
	background:-webkit-gradient(linear, left center, right center, color-stop(10%, rgb(1,99,141)), color-stop(50%, rgb(50,143,180)), color-stop(90%, rgb(1,99,141)));
	background:-moz-linear-gradient(left center, rgb(1,99,141) 10%, rgb(50,143,180) 50%, rgb(1,99,141) 90%);
	background:-o-linear-gradient(left center, rgb(1,99,141) 10%, rgb(50,143,180) 50%, rgb(1,99,141) 90%);
	background:linear-gradient(left center, rgb(1,99,141) 10%, rgb(50,143,180) 50%, rgb(1,99,141) 90%);
}

#left-menu .playlistElem.selected {
    color: @text-color-1;
}


/* text-shadows */
.results > .selected, 
.results > .selected:nth-child(odd) {
	text-shadow: 0px 1px 1px #000;
}