<div id="settings" style="display:none" class="popup">
    <div class="puffs" style="display:none">
        <a class="puff chrome-webstore translatable" href="#" target="_blank">Install Youtify from the Chrome Web Store</a>
    </div>
    <div class="language">
        <h2 class="translatable">Language</h2>
        <select>
            {% for lang in languages %}
                <option value="{{ lang.code }}">{{ lang.label }}</option>
            {% endfor %}
        </select>
        <a class="translatable" href="/translations">Help out with translations</a>
    </div>
    {% if logged_in %}
    <div class="connections">
        <h2 class="translatable">Connections</h2>
        <div class="connection flattr">
            <div class="account">
            </div>
            <div class="settings">
                <div class="tickbox">
                    <input type="checkbox" name="flattr_automatically" />
                    <label for="flattr_automatically" class="translatable">Automatically flattr songs after they finish playing</label>
                </div>
            </div>
        </div>
        <div class="connection lastfm">
            <div class="account">
            </div>
            <div class="settings">
                <div class="tickbox">
                    <input type="checkbox" name="scrobble_automatically" />
                    <label for="scrobble_automatically" class="translatable">Automatically scrobble songs to Last.fm they finish playing</label>
                </div>
            </div>
        </div>
    </div>
    <div class="notifications">
        <h2 class="translatable">Notifications</h2>
        <p class="translatable">Email me when:</p>
        <div class="toggle">
            <input type="checkbox" name="send_new_follower_email" />
            <span class="translatable">I'm followed by someone new</span>
        </div>
        <div class="toggle">
            <input type="checkbox" name="send_new_subscriber_email" />
            <span class="translatable">My playlists are subscribed to</span>
        </div>
    </div>
    {% endif %}
    <div class="quality">
        <h2 class="translatable">Quality (Sound & Video)</h2>
        <input id="qualityLowRadio" type="radio" name="quality" value="Low" />
        <label id="qualityLowSpan" for="qualityLowRadio" class="translatable">Low</label>
        <input id="qualityHighRadio" type="radio" name="quality" value="High" />
        <label id="qualityHighSpan" for="qualityHighRadio" class="translatable">High</label>
    </div>
</div>
