<!DOCTYPE html> 
 
<html> 
	<head> 
        <title>Youtify - YouTube's music, all the time</title> 

        <meta charset="utf-8"> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="youtify, music, youtube, spotify, streaming" /> 
        <meta name="description" content="Youtify - YouTube's music, all the time" /> 
		<link rel="canonical" href="{{url}}" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
        <link rel="fluid-icon" href="http://www.youtify.com/images/fluidicon.png" title="Youtify" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta property="og:title" content="Youtify"/>
		<meta property="og:type" content="software"/>
		<meta property="og:image" content="http://www.youtify.com/images/logo120x90.png"/>
		<meta property="og:site_name" content="Youtify"/>
		<meta property="og:url" content="{{url}}"/>
		<meta property="fb:admins" content="704121239,676899180"/>
		<meta property="og:description" content="The BEST online music video player"/>
        {{og_tag}}
		
		<meta name="google-site-verification" content="8FTwN14g2Fk0iuvckECzl44YtXAU9kmCipo0S4oBOf0" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
		<script src="/scripts/featuredetection.js"></script>
        
        <link rel="icon" href="/images/favicon.png" type="image/png" /> 
        <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'> 
		
		<style id="leavebritneyalone" type="text/css" rel="stylesheet">
			html, body { 
				margin: 0; 
				padding: 0; 
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			#loading {
				position: absolute;
				width: 100%;
				height: 100%;
				color: white;
				font-size: 36px;
				text-align: center;
				z-index: 999;
				background: url('/images/loader.gif') no-repeat center center #070707;
				opacity: 0.9;
				font-family: 'Arimo', arial, sans-serif;
			}
			#loading span {
				display: block;
				margin-top: 100px;
			}
			#youtube-container {
				height: 230px;
				width: 230px;
				background: @green;
			}
			#youtube {
				width: 230px;
				height: 230px;
				position: absolute;
				z-index: 150;
			}
		</style>

        <link id="less" rel="stylesheet/less" type="text/css" href="/styles/default.less">

        <script>
            var my_user_id = "{{ youtify_user.key.id }}";
            var logged_in = {{ logged_in }};
			var device = "{{ youtify_user.device }}";
			var toplist = {{ toplist }};
            var accept_language_header = "{{ accept_language_header }}";
            var SPOTIFY_INSTRUCTIONS_VIDEO_ID = 'uLG5rWWf_rg';
            var ON_DEV = {{ ON_DEV|lower }};
            var ON_PRODUCTION = {{ ON_PRODUCTION|lower }};
        </script>

		<script src="/scripts/jquery.shuffle.js"></script>
		<script src="/scripts/less-1.0.41.min.js"></script>
        {% if USE_PRODUCTION_JAVASCRIPT %}
		<script src="/scripts/production.js"></script>
        {% else %}
		<script src="/scripts/jquery.arrowpopup.js"></script>
		<script src="/scripts/settings.js"></script>
		<script src="/scripts/translations.js"></script>
		<script src="/scripts/utils.js"></script>
		<script src="/scripts/drag.js"></script>
		<script src="/scripts/contextmenu.js"></script>
		<script src="/scripts/player.js"></script>
		<script src="/scripts/volume.js"></script>
		<script src="/scripts/search.js"></script>
		<script src="/scripts/toplist.js"></script>
		<script src="/scripts/queue.js"></script>
		<script src="/scripts/video.js"></script>
		<script src="/scripts/playlist.js"></script>
		<script src="/scripts/playlistmanager.js"></script>
		<script src="/scripts/leftmenu.js"></script>
		<script src="/scripts/keyboard.js"></script>
		<script src="/scripts/themes.js"></script>
		<script src="/scripts/notify.js"></script>
		<script src="/scripts/url.js"></script>
		<script src="/scripts/ping.js"></script>
		<script src="/scripts/fatbar.js"></script>
		<script src="/scripts/uploader.js"></script>
		<script src="/scripts/spotifyimport.js"></script>
		<script src="/scripts/main.js"></script>
        {% endif %}
        
		{% if ON_PRODUCTION %}
			<script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-22835317-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
		{% endif %}
		
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
		<script src="http://www.youtube.com/player_api"></script>
	</head> 
	<body> 
        {% include "./popups/settings.html" %}
        {% include "./popups/infomenu.html" %}
        {% include "./popups/spotify_importer.html" %}
        {% include "./popups/share_playlist.html" %}
        {% include "./popups/share_video.html" %}
        <div id="notification">
            <span class="content"></span>
            <button class="close translatable">Close</button>
        </div>
        <div id="loading"> 
            <span>Loading</span> 
        </div> 
		<div id="wrapper">
			<div id="content">
				<canvas id="canvas" style="position: absolute; top: 0; left: 0; display: none;"></canvas>
                <span id="heart">♥</span>
				<div id="content-left"> 
                    <div class="toolbar"> 
                        <a id="flattr" href="http://flattr.com/thing/186638/Youtify" target="_blank">
                            <img class="translatable" src="/images/flattr.png" alt="Flattr us!" title="Flattr us!" border="0" />
                        </a>
                        <a id="twitter" href="http://twitter.com/#!/Youtify" target="_blank">
                            <img class="translatable" src="/images/twitter.png" alt="Follow us on Twitter!" title="Follow us on Twitter!" border="0" />
                        </a>
                        <a id="facebook" href="http://facebook.com/Youtify" target="_blank">
                            <img class="translatable" src="/images/facebook.png" alt="Like us on Facebook!" title="Like us on Facebook!" border="0" />
                        </a>
						<g:plusone size="medium" count="false" href="http://www.youtify.com"></g:plusone>
                    </div> 
					<div id="left-menu"> 
                        {% include "loginbox.html" %}
						<ul id="tabs">
                            <li id="toplist-tab" class="playlistElem translatable">Top 100</li>
                            <li id="bestof-tab" class="playlistElem translatable">Best of YouTube</li>
                            <li id="queue-tab" class="playlistElem translatable">Play Queue</li>
                            <li id="results-tab" class="playlistElem translatable">Search Results</li>
						</ul> 
						<ul id="playlists"></ul>
                        <div id="new-playlist" class="droppable">
                            <span id="new-playlist-label" class="translatable">New playlist...</span> 
                            <input type="text" style="display:none" /> 
                        </div> 
					</div> 
					<div id="video"> 
						<div id="info" class="draggable">
                            <marquee class="title" behavior="alternate" scrollamount="2">
                            </marquee> 
                            <div id="video-actions" style="display:none">
                                <span id="fatbar-toggle">
                                    <span class="translatable clickable show">More</span>
                                    <span class="translatable clickable hide">Less</span>
                                </span>
                                <span class="translatable clickable share">Share</span>
                            </div>
						</div> 
						<div id="youtube-container"><div id="youtube"></div></div> 
					</div> 
					<div id="controls"> 
						<div id="prev"></div> 
						<div id="playpause"></div> 
						<div id="next"></div> 
						<div id="outer-volume-slider"> 
							<div id="volume-slider"><div id="volume-slider-knob"></div></div> 
						</div> 
                        <div id="fullscreen" class="translatable" title="Toggle fullscreen"></div> 
					</div> 
				</div> 
				<div id="content-right"> 
					<div class="toolbar"> 
						<div id="search"> 
                            <input type="text" class="translatable" placeholder="Search" /> 
							<div class="loader"></div>
						</div> 
						
						<a id="yt-power" href="http://www.youtube.com"></a>
                        <div id="logo"></div> 
						
						<div id="settings">
                            <span id="settings-text" class="translatable">Settings</span>
						</div>

						<div id="infomenu">
                            <span id="infomenu-text" class="translatable">Legal & Information</span>
						</div>
					</div> 
					<div id="results-container" class="droppable"> 
                        <div id="playlistbar" style="display:none"></div>
                        <div id="searchbar" style="display:none">
                            <div id="search-options">
                                <span class="tab videos selected" id="search-options-videos">
                                    <span class="translatable title">Videos</span>
                                </span>
                                <span class="tab playlists" id="search-options-playlists">
                                    <span class="translatable title">Playlists</span>
                                </span>
                            </div>
                        </div>
						<ol id="results" class="results"></ol> 
						<ol id="toplist" class="results"></ol>
						<ol id="bestof" class="results"></ol>
						<ol id="queue" class="results"></ol>
						<ol id="playlist" class="results"></ol>
					</div> 
                    <div id="translator-panel" style="display:none">
                        <div class="actionbar">
                            <button class="save">Save</button>
                            <button class="close clickable">Close</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <td>English</td>
                                    <td>Swedish</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
					<div id="fatbar">
                        <span class="close translatable" title="Close"></span>
                        <div class="box" id="video-info-box">
                            <div class="content">
                                <span class="translatable" style="display:none">Uploader:</span>
                                <span class="uploader clickable"></span>
                                <div class="description"></div>
                            </div>
                        </div>
                        <div class="box" id="related-box">
                            <div class="content">
                                <ul id="related" class="results"></ul>
                            </div>
                        </div>
                        <div class="box" id="linko-box">
                            <div class="content">
                                <strong class="name"></strong>
                                <ul class="links">
                                </ul>
                            </div>
                        </div>
					</div>
					<div id="timeline-container"> 
						<label id="position-label">0:00</label> 
						<div id="timeline"> 
							<div id="inner-timeline"><div id="inner-timeline-knob"></div></div> 
						</div> 
						<label id="end-label">0:00</label> 
					</div> 
				</div> 
			</div> 
			<div id="footer"></div> 
		</div> 

	</body> 
</html> 
