<!DOCTYPE html> 
 
<html> 
	<head> 
        <title>Youtify - YouTube's music, all the time</title> 

        <meta charset="utf-8"> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="youtify, music, youtube, spotify, streaming" /> 
        <meta name="description" content="Youtify - YouTube's music, all the time" /> 
		<link rel="canonical" href="{{url}}" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
        <link rel="fluid-icon" href="http://www.youtify.com/images/fluidicon.png" title="Youtify" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta property="og:title" content="Youtify"/>
		<meta property="og:type" content="software"/>
		<meta property="og:image" content="http://www.youtify.com/images/logo120x90.png"/>
		<meta property="og:site_name" content="Youtify"/>
		<meta property="og:url" content="{{url}}"/>
		<meta property="fb:admins" content="704121239,676899180"/>
		<meta property="og:description" content="The BEST online music video player"/>
        {{og_tag}}
		
		<meta name="google-site-verification" content="8FTwN14g2Fk0iuvckECzl44YtXAU9kmCipo0S4oBOf0" />
        <link href="https://plus.google.com/117221740012078743992/" rel="publisher" />
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ceimdjnelbadcaempefhdpdhdokpnbho" />
    
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
		<script src="/scripts/featuredetection.js"></script>
        
        <link rel="icon" href="/images/favicon.png" type="image/png" />
        <link href='/styles/default.css' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

        <script>
            var my_user_id = "{{ youtify_user.key.id }}";
            var logged_in = {{ logged_in }};
            var playlistsFromServer = {{ playlistsFromServer }};
			var device = "{{ youtify_user.device }}";
			var toplist = {{ toplist }};
            var autoDetectedLanguageByServer = "{{ autoDetectedLanguageByServer }}";
            var autoDetectedTranslations = {{ autoDetectedTranslations }};
            var accept_language_header = "{{ accept_language_header }}";
            var SPOTIFY_INSTRUCTIONS_VIDEO_ID = 'uLG5rWWf_rg';
            var ON_DEV = {{ ON_DEV|lower }};
            var ON_PRODUCTION = {{ ON_PRODUCTION|lower }};
        </script>

		<script src="/scripts/jquery.shuffle.js"></script>
        {% if USE_PRODUCTION_JAVASCRIPT %}
		<script src="/scripts/production.js"></script>
        {% else %}
		<script src="/scripts/jquery.arrowpopup.js"></script>
		<script src="/scripts/jquery.doubletap.js"></script>
		<script src="/scripts/settings.js"></script>
		<script src="/scripts/translations.js"></script>
		<script src="/scripts/utils.js"></script>
		<script src="/scripts/drag.js"></script>
		<script src="/scripts/contextmenu.js"></script>
		<script src="/scripts/player.js"></script>
		<script src="/scripts/volume.js"></script>
		<script src="/scripts/search.js"></script>
		<script src="/scripts/toplist.js"></script>
		<script src="/scripts/queue.js"></script>
		<script src="/scripts/video.js"></script>
		<script src="/scripts/playlist.js"></script>
		<script src="/scripts/playlistmanager.js"></script>
		<script src="/scripts/leftmenu.js"></script>
		<script src="/scripts/keyboard.js"></script>
		<script src="/scripts/themes.js"></script>
		<script src="/scripts/notify.js"></script>
		<script src="/scripts/url.js"></script>
		<script src="/scripts/ping.js"></script>
		<script src="/scripts/fatbar.js"></script>
		<script src="/scripts/uploader.js"></script>
		<script src="/scripts/spotifyimport.js"></script>
		<script src="/scripts/heart.js"></script>
        <script src="/scripts/webstore.js"></script>
		<script src="/scripts/main.js"></script>
        {% endif %}
        
		{% if ON_PRODUCTION %}
			<script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-22835317-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
		{% endif %}
		
		<script src="http://www.youtube.com/player_api"></script>
	</head> 
	<body>
        {% include "./popups/spotify_importer.html" %}
        {% include "./popups/share_playlist.html" %}
        {% include "./popups/share_video.html" %}
        
        <div id="content">
            <div id="top">
                <div id="search"> 
                    <input type="text" class="translatable" placeholder="Search" /> 
                    <div class="loader"></div>
                    <input type="button" />
                </div>
                
                <div id="notifications">
                    <div id="notification">
                        <span class="content">This is a notification! With a <a href="#">link!</a></span>
                        <span class="close" onclick="javascript:var parent = $(this).parent(); parent.addClass('hidden');setTimeout(function() {parent.remove();}, 1000);">X</span>
                    </div>
                    <div id="notification">
                        <span class="content">This is a notification! With a <a href="#">link!</a></span>
                        <span class="close" onclick="javascript:var parent = $(this).parent(); parent.addClass('hidden');setTimeout(function() {parent.remove();}, 1000);">X</span>
                    </div>
                    <div id="notification">
                        <span class="content">This is a notification! With a <a href="#">link!</a></span>
                        <span class="close" onclick="javascript:var parent = $(this).parent(); parent.addClass('hidden');setTimeout(function() {parent.remove();}, 1000);">X</span>
                    </div>

                </div>
                
                <div id="menus">
                    <span id="heart">♥</span>
                    <div id="heart-popup" style="display:none" class="popup"></div>
                    <span class="spacings">&nbsp;&nbsp;</span>
                    <div id="infomenu">
                        <span id="infomenu-text" class="translatable">About</span>
                        {% include "./popups/infomenu.html" %}
                    </div>
                    <span class="spacings">&nbsp;|&nbsp;</span>
                    <div id="settings">
                        <span id="settings-text" class="translatable">Settings</span>
                        {% include "./popups/settings.html" %}
                    </div>
                    <span class="spacings">&nbsp;</span>
                    <div id="login">
                        {% if logged_in %}
                        <span id="nickname">{{ user.nickname }}</span>
                        {% else %}
                        <a id="login-link" href="{{ login_url }}">Login</a>
                        {% endif %}
                    </div>
                    {% include "./popups/logout.html" %}
                </div>
            </div>
            
            <div id="leftcolumn">
                <div id="left">
                    <ul id="tabs">
                        <li id="toplist-tab" class="playlistElem translatable">Top 100</li>
                        <li id="queue-tab" class="playlistElem translatable">Play Queue</li>
                        <li id="search-tab" class="playlistElem translatable">Search Results</li>
                        <ul id="playlists">
                            <li>A playlist :)</li>
                        </ul>
                        <div id="new-playlist" class="droppable">
                            <span id="new-playlist-label" class="translatable">New playlist...</span> 
                            <input type="text" style="display:none" /> 
                        </div> 
                    </ul> 
                    <div id="youtube-container"><div id="youtube"></div></div>
                </div>
            </div>
            
            <div id="rightcolumn">
                <div id="right">
                    <div id="search-container">
                        <ul class="tabs">
                            <li rel="youtube-videos-pane" class="active">YouTube Videos</li>
                            <li rel="youtube-playlists-pane">YouTube Playlists</li>
                        </ul>
                        <table id="youtube-videos-pane" class="pane">
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                        </table>
                        <table id="youtube-playlists-pane" class="pane"></table>
                    </div>
                    
                    <div id="top100-container">
                        <ul class="tabs">
                            <li rel="youtify-top100-pane">Youtify Top 100</li>
                            <li rel="youtube-top100-pane" class="active">YouTube Top 100</li>
                            <li rel="youtube-top100indie-pane">YouTube Top 100</li>
                        </ul>
                        <table id="youtify-top100-pane" class="pane"></table>
                        <table id="youtube-top100-pane" class="pane"></table>
                        <table id="youtube-top100indie-pane" class="pane"></table>
                    </div>
                    
                    <div id="queue-container">
                        <ul class="tabs">
                            <li rel="queue-pane" class="active translatable">Play Queue</li>
                        </ul>
                        <table id="queue-pane" class="pane"></table>
                    </div>
                    
                    <div id="playlist-container">
                        <div id="playlist-controls">
                            <span id="playlist-controls-title">Playlist title :) :)</span>
                            <a id="playlist-controls-user">Clark Kent</a>
                            <span id="playlist-controls-playlist-subscribe" class="translatable">Subscribe</span>
                        </div>
                        <table id="playlist-pane" class="pane">
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                        </table>
                    </div>
                    
                    <div id="user-container">
                        <div id="user-controls">
                            <span id="user-controls-name">Clark Kent's playlists</span>
                            <span id="user-controls-follow-user" class="translatable">Follow User</span>
                        </div>
                        <table id="user-playlist-pane" class="pane">
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                            <tr>
                                <td class="play">></td><td class="space"></td>
                                <td class="title">Infected Mushroom - Muse Breaks</td><td class="space"></td>
                                <td class="like">&hearts;</td><td class="space"></td>
                                <td class="views">1,000,000 views</td>
                            </tr>
                        </table>
                    </div>
                    
                    <div id="fatbar">
                        <span class="close translatable" title="Close"></span>
                        <div class="box" id="video-info-box">
                            <div class="content">
                                <span class="translatable" style="display:none">Uploader:</span>
                                <span class="uploader clickable"></span>
                                <div class="description"></div>
                            </div>
                        </div>
                        <div class="box" id="related-box">
                            <div class="content">
                                <ul id="related" class="results"></ul>
                            </div>
                        </div>
                        <div class="box" id="linko-box">
                            <div class="content">
                                <strong class="name"></strong>
                                <ul class="links">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="bottom">
                <div id="controls"> 
                    <div class="border"><div id="prev"></div></div>
                    <div class="border middle"><div id="playpause"></div></div>
                    <div class="border"><div id="next"></div></div>
                </div>

                <div id="info" class="draggable">
                    <div class="title">title!!!</div>
                    <div id="care-package">
                        <span class="translatable clickable share">Share</span>
                        <span class="flattr"></span>
                    </div>
                </div>
                
                <div id="timeline-container"> 
                    <span id="position-label">0:00</span>
                    <div id="timeline">
                        <div id="inner-timeline"><div id="inner-timeline-knob"></div></div>
                    </div>
                    <span id="end-label">0:00</span>
                </div>
                
                <div id="volume-container">
                    <div id="outer-volume-slider"> 
                        <div id="volume-slider"><div id="volume-slider-knob"></div></div> 
                    </div> 
                    <div id="fullscreen" class="translatable" title="Toggle fullscreen"></div> 
                </div>
            </div>
        </div> 
	</body> 
</html> 
