#tabs {
    border-bottom: 1px solid #666;
}
#tabs li {
    padding: 4px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 1px;
}
#tabs li.selected {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    background: white;
}
.pane {
    display: none;
}
.pane.selected {
    display: block;
}

button {
    margin: 10px 0;
}

table {
    margin-bottom: 20px;
}
