#tabs {
    border-bottom: 1px solid #666;
}
#tabs li {
    padding: 4px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 1px;
}
#tabs li.selected {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    background: white;
}
.pane {
    display: none;
}
.pane.selected {
    display: block;
}

button {
    margin: 10px 0;
}
table button {
    margin: 0;
    float: right;
}

table {
}

#snapshots table {
    margin-top: 20px;
}
#snapshots .active .restore {
    display: none;
}

#teams select {
    display: block;
    margin: 20px 0;
}
#teams button {
    margin-top: 0;
}

#loading {
    text-align: center;
    position: fixed;
    width: 200px;
    top: 0;
    left: 50%;
    margin-left: -100px;
    background: rgb(163, 26, 20);
    color: white;
    border-radius: 5px;
    border-color: solid rgb(163, 26, 20);
    border: 1px;
}

/* ADD PHRASE POPUP
 ****************************************************************************/

#addPhrasePopup {
    width: 400px;
    height: auto;
    margin-left: -200px;
}
#addPhrasePopup textarea {
    width: 100%;
    height: 100px;
}
#addPhrasePopup input[type=submit] {
    margin-top: 10px;
    float: right;
}

/* ADD LEADER POPUP
 ****************************************************************************/

#addLeaderPopup {
    width: 300px;
    height: 70px;
    margin-left: -150px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
}
#addLeaderPopup label {
    display: block;
}
#addLeaderPopup input[type=email] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
#addLeaderPopup input[type=submit] {
    display: none;
    float: right;
}
#addLeaderPopup .noMatch {
    color: #ccc;
}
#addLeaderPopup .userFound {
    color: green;
    display: none;
}
#addLeaderPopup.success {
    height: 90px;
}
#addLeaderPopup.success .noMatch {
    display: none;
}
#addLeaderPopup.success .userFound,
#addLeaderPopup.success input[type=submit] {
    display: block;
}
