/* PRELOAD
*******************************/
body:after {
    content:
        url(/images/youtube.png)
        url(/images/soundcloud.png)
        url(/images/officialfm.png)
        url(/images/youtube-inverted.png)
        url(/images/soundcloud-inverted.png)
        url(/images/officialfm-inverted.png)
        url(/images/bigsnake.gif);

    display: none;
}

@font-face {
    font-family: 'YoutifyRegular';
    src: url('/styles/font/YoutifyRegulart.eot');
    src: url('/styles/font/YoutifyRegular.eot?#iefix') format('embedded-opentype'),
         url('/styles/font/YoutifyRegular.woff') format('woff'),
         url('/styles/font/YoutifyRegular.ttf') format('truetype'),
         url('/styles/font/YoutifyRegular.svg#YoutifyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* RESET
*******************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
a, input, a:hover, a:active { outline: none; }
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }
/* Hand cursor on clickable input elements */
input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
ol, ul { list-style: none; }
strong { font-weight: bold; }
/* Make objects non selectable */
div, p, span, i, b, h1, h2, h3, h4, label, ul, ol, li, img, a, table, th, tr, td { -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none; }

/*******************************
 * z-index layout:
 * =============================
 * 
 *   top: 10
 *     blocker: 20
 *      contextmenu: 25
 *      dragElem: 25
 *     popups: 20
 *      notification: 25
 *      loading: 25
 *  leftcolumn: 5
 *       youtube: 30
 * rightcolumn: 0
 *   bottom: 10
 *
 *******************************/

/* STRUCTURE
*******************************/

html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: 'Open Sans', arial, sans-serif;
	font-size: 14px;
    color: #222;
    /* http://www.base64online.com/image_base64.php */
    background: #EEE;
}
input, textarea, button {
    font-family: 'Open Sans', arial, sans-serif;
	font-size: 14px;
}

/* BUTTON
*******************************/

.button {
    display: inline-block;
    background:-webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-moz-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-ms-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-o-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:linear-gradient(top, #EEE 0%, #CCC 100%);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #8B9594;
    text-align: center;
    min-width: 60px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #222;
}
.button:hover {
    border: 1px solid #778180;
    color: #000;
}
.button:active {
    background:-webkit-linear-gradient(top, #CCC 0%, #EEE 100%);
    background:-moz-linear-gradient(top, #CCC 0%, #EEE 100%);
    background:-ms-linear-gradient(top, #CCC 0%, #EEE 100%);
    background:-o-linear-gradient(top, #CCC 0%, #EEE 100%);
    background:linear-gradient(top, #CCC 0%, #EEE 100%);
    border: 1px solid #778180;
    color: #000;
}

.button.exposed {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%);
    background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
    background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%);
    background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%);
    background: linear-gradient(top, #499bea 0%,#207ce5 100%);
}
.button.exposed:hover {
    border: 1px solid #778180;
    color: #FFF;
}
.button.exposed:active {
    background: -webkit-linear-gradient(top, #207ce5 0%,#499bea 100%);
    background: -moz-linear-gradient(top, #207ce5 0%, #499bea 100%);
    background: -ms-linear-gradient(top, #207ce5 0%,#499bea 100%);
    background: -o-linear-gradient(top, #207ce5 0%,#499bea 100%);
    background: linear-gradient(top, #207ce5 0%,#499bea 100%);
}

#right .video.selected,
#left .menu .selected {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    background-color: #aaa;
}

#right.focused .video.selected,
#left.focused .menu .selected {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    background-color: rgb(62, 126, 221);
}

/** TOP
 ****************************************************************************/
body.fullscreen #top,
body.fullscreen #left .menu,
body.fullscreen #right > div {
    display: none !important;
}
body.fullscreen,
body.fullscreen #top,
body.fullscreen #left,
body.fullscreen #right {
    background: black;
    border: none;
}

#top {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    padding: 0 20px 0 5px;
    width: 100%;
    height: 50px;
    z-index: 10;
    background:-webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-moz-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-ms-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-o-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:linear-gradient(top, #EEE 0%, #CCC 100%);
    border-bottom: 1px solid #999;
    box-shadow: 0px 0px 1px #333;
}
#top .left-area{
    padding-top: 8px;
}
#top .right-area {
    padding-top: 9px;
}
#top .left-area {
    float: left;
}
#top .right-area {
    float: right;
}
#top .item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#top .item.last {
    margin-right: 0;
}
#top .dropdown-button {
    cursor: pointer;
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}
#top .dropdown-button:after {
    content: '\25BE';
    font-size: 16px;
    color: #666;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}
#top .logo {
    background: url(/images/logo/logo_64x64.png) no-repeat center center;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#top .profile {
    padding-left: 27px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 28px;
}
#top .profile img {
    display: inline-block;
}
#top .search {
    padding-right: 34px; /* button width */
    position: relative;
    border-radius: 24px;
    background-color: #FFF;
}

/* Hide top menu optinos until settings and user has loaded */
#top .right {
    opacity: 0;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
body.loaded #top .right {
    opacity: 1;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}
#top .search input[type=search] {
    -webkit-appearance: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 26px;
    width: 200px;
    padding: 2px 4px 2px 10px;
    border-radius: 24px 0 0 24px;
    border: 1px solid #8B9594;
    border-right: none;
    outline: none;
    background-color: transparent;
}
#top .search button {
    position: absolute;
    right: 0;
    top: 0px;
    min-width: 35px;
    width: 35px;
    height: 32px;
    padding:0;
    border-radius: 0 24px 24px 0;
    border-left: none;
    background: transparent;
}
#top .search button:after {
    content: 'ô';
    font-family: YoutifyRegular;
    color: #bbb;
    font-size: 36px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 6px;
}
#settings .puffs .chrome-webstore {
    padding-left: 20px;
    background: url(/images/chrome_16.png) no-repeat left center;
}
#top .activities {
    position: relative;
}
#top .activities .title {
    font-family: YoutifyRegular;
    font-size: 32px;
    line-height: 20px;
    position: absolute;
    top: -6px;
    left: -17px;
    color: #333;
}
#top .activities.has-new .title {
    color: purple;
}
#top .settings .counter {
    background: rgba(0, 124, 137, 0.4);
    color: white;
    border-radius: 4px;
    padding: 0 4px;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top;
}
#top .menu .login-link {
    cursor: pointer;
    line-height: 20px;
}

#top .go-left, #top .go-right {
    display: none;
}

/** LEFT
 ****************************************************************************/

.left-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 5;
    width: 320px;
    height: 100%;
    padding: 50px 0 70px 0; /* #top, 0, #bottom, 0 */
}
#left {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
    height: 100%;
    padding-bottom: 200px; /* #.players.height */
}
#left .menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    padding: 10px 5px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#left .menu li:hover {
    color: #000;
}
#left .menu li.selected:hover {
    color: #FFF;
}
#left .menu .external-user-subscriptions img,
#left .menu .playlists li.subscription .owner {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 16px;
    height: 16px;
}
#left .menu .home, 
#left .menu .queue,
#left .menu .playlists li ,
#left .menu .external-user-subscriptions li,
#left .menu .playlists li.subscription {
    cursor: pointer;
    padding: 8px 8px 8px 25px;
    position: relative;
    overflow: hidden;
}
#left .menu .title {
    display: block;
    overflow: hidden;
}
#left .menu .playing .title {
    max-width: 235px;
}
#left .menu .home:before {
    content: 'ï';
    font-family: YoutifyRegular;
    font-size: 32px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -2px;
    left: 4px;
}
#left .menu .queue:before {
    content: 'j';
    font-family: YoutifyRegular;
    font-size: 32px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -1px;
    left: 4px;
}
#left .menu .group .loading-animation {
    text-align: left;
    padding: 5px;
}
#left .menu .playlists li:before {
    content: 'i';
    font-family: YoutifyRegular;
    font-size: 40px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -3px;
    left: 3px;
}

#left .menu .selected.home:before,
#left .menu .selected.queue:before,
#left .menu .selected.search:before,
#left .menu .playlists li.selected:before {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

#left .menu li.playing:after {
    content: '3';
    font-family: YoutifyRegular;
    font-size: 60px;
    line-height: 20px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -10px;
    right: 10px;
    color: #333;
}
#left .menu li.playing.selected:after {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
#left .menu li.target {
    background-color: rgb(62, 126, 221);
    color: white;
    text-shadow: none;
    cursor: default;
}
#left .menu .playlists .new {
    position: relative;
    margin: 10px 0px 5px 0px;
    display: block;
}
#left .menu .playlists .new span {
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2px;
    width: 100%;
    height: 100%;
}
#left .menu .playlists .new input[type=text] {
    font-size: 12px;
    display: inline-block;
    padding: 2px 2px 1px 2px;
    width: 90%;
    height: 100%;
}
#left .players,
#left .players .soundcloud,
#left .players .officialfm,
#left .players .youtube {
    width: 320px;
    height: 200px;
    background: #000;
    position: absolute;
    z-index: 30;
}
/* Enable mousemove over the youtube player iframe.
   http://caniuse.com/#search=pointer-events */
#youtube {
    pointer-events: all;
}
#left .players .soundcloud,
#left .players .officialfm {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/** RIGHT
 ****************************************************************************/
 
.right-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0 70px 320px; /* #top, 0, #bottom, #leftcolumn */
}
#right {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#right > div {
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px 0 5px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#right .tabs {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    word-spacing: 0;
}
#right .tabs > li {
    display: inline-block;
    float: left;
    background:-webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-moz-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-ms-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-o-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:linear-gradient(top, #EEE 0%, #CCC 100%);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    padding: 4px 8px;
    border: 1px solid #8B9594;
    border-right: none;
    text-align: center;
    min-width: 60px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
    color: #222;
    margin: 0;
}
#right .tabs > li:first-of-type {
    border-radius: 5px 0 0 5px;
}
#right .tabs > li:last-of-type {
    border-right: 1px solid #8B9594;
    border-radius: 0 5px 5px 0;
}
#right .tabs > li:hover {
    border-color: #778180;
    color: #000;
}
#right .tabs li.selected {
    background:#DDD;
    box-shadow: inset 0 0 8px #AAA;
    color: #000;
}
#right .user-list .user {
    display: block;
    margin: 5px 0;
    line-height: 40px;
}
#right .user-list .user:nth-of-type(odd) {
    background-color: #DDD;
}
#right .user-list .user img {
    width: 40px;
    height: 40px;
}
#right .user-list .user  span {
    padding-left: 15px;
}

#right .playlist-list > .playlist {
    margin: 5px 0;
    line-height: 40px;
    padding-left: 15px;
}
#right .playlist-list > .playlist:nth-of-type(odd) {
    background-color: #DDD;
}

#right .tracklist,
#right .tracklist table {
    width: 100%;
    max-height: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}
#right .tracklist tr {
    margin: 0px 0px 0px 10px;
}
#right .video:hover {
    color: #000;
}
#right .video.selected:hover {
    color: #FFF;
}
#right .tracklist .video.selected .playlist,
#right .tracklist .video.selected .play,
#right .tracklist .video.selected .title,
#right .tracklist .video.selected .like,
#right .tracklist .video.selected .menu,
#right .tracklist .video.selected .uploader,
#right .tracklist .video.selected .views,
#right .tracklist .video.selected .videoCountHint {
    background-color: transparent;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

#right .tracklist tr td {
    line-height: 40px;
    text-align: center;
    cursor: default;
}
#right .video.alternative .title:before {
    content: '\21B9';
    font-size: 20px;
    padding-right: 10px;
    line-height: 22px;
}
#right .video.insert-before {
    border-top: 1px solid black;
}
#right .tracklist .play {
    width: 40px;
    height: 15px;
    max-height: 15px;
    max-width: 40px;
    overflow: hidden;
    cursor: pointer;
}
#right .tracklist .play:after {
    content: '{';
    font-family: YoutifyRegular;
    font-size: 34px;
    line-height: 20px;
    cursor: pointer;
    color: #666;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: relative;
    vertical-align: -20%;
}
#right .tracklist .play:hover:after {
    color: #000;
}
#right .tracklist .playing .play:after {
    content:'';
}
#right .tracklist .play:hover {
    color: #000;
}

#right .tracklist .playing .play:after,
#right .tracklist .playing .play:hover:after {
    content: '3';
    font-family: YoutifyRegular;
    font-size: 60px;
    line-height: 0px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: relative;
    color: #333;
    vertical-align: -8px;
}

#right .tracklist .title,
#right .tracklist .uploader {
    text-align: left;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    padding-left: 15px;
    max-height: 40px;
    display: block;
    overflow: hidden;
}
#right .tracklist .uploader {
    cursor: pointer;
    display: table-cell;
    width: 150px;
    overflow: hidden;
    max-height: 40px;
    word-wrap: break-word;
}
#right .minimized .uploader ,
#right .minimized tr .space:nth-child(4),
#right .playlists .tracklist .uploader ,
#right .playlists .tracklist tr .space:nth-child(4),
#right .external-profile .tracklist .uploader ,
#right .external-profile .tracklist tr .space:nth-child(4){
    display: none;
}
#right .tracklist .video .menu {
    width: 40px;
    cursor: pointer;
    overflow: hidden;
}
#right .tracklist .video .menu:before {
    content: 'l';
    position: relative;
    color: #666;
    vertical-align: -18%;
    line-height: 20px;
    font-family: 'YoutifyRegular';
    font-size: 30px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    margin-left: 3px;
}
#right .tracklist .video .menu:after {
    content: '\25BE';
    color: #666;
    font-size: 16px;
    position: relative;
    line-height: 20px;
    vertical-align: -22%;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

#right .tracklist .selected.video .menu:before,
#right .tracklist .selected.video .menu:after,
#right .tracklist .selected.video .play:after {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

#right .playlist-box .tracklist .video .menu,
#right .playlist-box .tracklist tr .space:nth-child(4) {
    display: none;
}

/* todo: remove when we have implemented favorites */
#right .tracklist .like,
#right tr .space:nth-child(6) {
    display: none;
}

#right .tracklist .like {
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

#right .tracklist .like:hover {
    color: #000;
}
#right .tracklist .views {
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    width: 110px;
}
#right .tracklist .videoCountHint {
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    width: 40px;
}
#right .tracklist .loadMore td {
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
#right .tracklist tr:nth-of-type(odd) td {
    background-color: #DDD;
}
#right .tracklist tr:nth-of-type(even) td {}

#right .tracklist tr:nth-of-type(odd) td.space,
#right .tracklist tr:nth-of-type(even) td.space,
#right .tracklist .space {
    background: transparent;
    width: 2px;
}
#right .tracklist .video .type {
    width: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}
#right .tracklist .video.selected .type {
    background-color: transparent;
}
#right .tracklist .video .type a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
#right .tracklist .video.unresolved .type {
    position: relative;
}
#right .tracklist .video.unresolved .type:after {
    display: block;
    content: '?';
    position: absolute;
    top: 0;
    left: 15px;
}
#right .tracklist .video.youtube .type {
    background-image: url(/images/youtube.png);
}
#right .tracklist .video.soundcloud .type {
    background-image: url(/images/soundcloud.png);
}
#right .tracklist .video.officialfm .type {
    background-image: url(/images/officialfm.png);
}
#right .tracklist .video.youtube.selected .type {
    background-image: url(/images/youtube-inverted.png);
}
#right .tracklist .video.soundcloud.selected .type {
    background-image: url(/images/soundcloud-inverted.png);
}
#right .tracklist .video.officialfm.selected .type {
    background-image: url(/images/officialfm-inverted.png);
}
#right .profile .picture-container {
    width: 208px;
    display: block;
    margin: 0 5px 0 0;
    display: inline-block;
    position: relative;
}
#right .profile .picture-container .picture {
    width: 208px;
    height: 208px;
    max-width: 208px;
    max-height: 208px;
    background-color: #FFF;
    display: block;
}
#right .profile .picture-container .change {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: black;
    text-align: center;
    opacity: 0;
    padding: 5px;
}
#right .profile .picture-container .change a {
    color: white;
}
#right .profile .picture-container:hover .change {
    opacity: 0.8;
}
#right .profile .information-container {
    display: inline-block;
    vertical-align: top;
}
#right .profile .information-container > span {
    display: block;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}
#right .profile .information-container .display-name {
    font-size: 16px;
    font-weight: bold;
}
#right .profile .information-container .display-name-container .button {
    margin-left: 5px;
}
#right .profile .information-container .nickname {
    color: #444;
    line-height: 20px;
}
#right .profile .information-container .tagline {
    font-style: italic;
    line-height: 20px;
}
#right .profile .information-container .flattr .username {
    padding-left: 20px;
    background: url(/images/flattr_16.png) no-repeat center left;
    line-height: 28px;
}
.modalbox.edit-profile .wrapper {
    text-align: left;
}
.modalbox.edit-profile .buttons {
    text-align: right;
}
.modalbox.edit-profile input,
.modalbox.edit-profile textarea {
    display: block;
    width: 294px;
    margin-bottom: 5px;
}
.modalbox.edit-profile textarea {
    height: 90px;
}
.pane {
    display: none;
}
.pane.selected {
    display: block;
}
#right .profile .pane.profile-flattrs {
    padding-top: 5px;
}
#right .profile .pane.profile-followings .user,
#right .profile .pane.profile-followers .user {
    padding: 5px 5px 5px 0;
    cursor: pointer;
}
#right .profile .pane.profile-followings .user img,
#right .profile .pane.profile-followers .user img {
    width: 40px;
    height: 40px;
}
#right .profile .pane.profile-followings .user,
#right .profile .pane.profile-followers .user {
    display: block;
}
#right .profile .tabs {
    margin-top: 10px;
}

/** GENERAL PLAYLIST HEADER STYLE
 ****************************************************************************/

#right .playlist-header {
    position: relative;
    margin-bottom: 5px;
}
#right .playlist-header .user img {
    width: 20px;
    height: 20px;
}
#right .playlist-header .user .name {
    vertical-align: middle;
}
#right .playlist-header .nr,
#right .playlist-header .subscribers {
    vertical-align: middle;
    margin-right: 5px;
}
#right .playlist-header .title {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
#right .playlist-header .nr,
#right .playlist-header .subscribers {
    margin-left: 20px;
    color: #444;
}
#right .playlist-header .subscribers {
    cursor: pointer;
}
#right .playlist-header .nr:before {
    content: 'H';
    font-family: 'YoutifyRegular';
    font-size: 30px;
    position: absolute;
    line-height: 6px;
    margin-left: -15px;
}
#right .playlist-header .subscribers:before {
    content: 'M';
    font-family: 'YoutifyRegular';
    font-size: 30px;
    position: absolute;
    line-height: 7px;
    margin-left: -20px;
}
#right .playlist-header .public:before {
    content: 'V';
    font-size: 36px;
    font-family: 'YoutifyRegular';
    position: absolute;
    top: -1px;
    margin-left: -20px;
}
#right .playlist-header .private:before {
    content: 'U';
    font-size: 36px;
    font-family: 'YoutifyRegular';
    position: absolute;
    top: -1px;
    margin-left: -20px;
}
#right .playlist-header .privacy {
    cursor: pointer;
    float: right;
}
#right .playlist-header .privacy:hover {
    color: #000;
}
#right .playlist-header .subscribe,
#right .playlist-header .unsubscribe {
    position: absolute;
    right: 0;
    bottom: 0px;
    cursor: pointer;
}

#right .help-box {
    margin-top: 10px;
    background-color: #DDD;
    padding: 20px;
    text-align: center;
    display: none;
}
#right .help-box h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
#right .help-box .button {
    margin-top:10px;
}

/** SMALL PLAYLIST VIEW
 ****************************************************************************/

#right .playlist-box {
    width: 300px;
    display: block;
    margin: 10px 10px 0 0;
    float: left;
    min-height: 270px;
}
#right .playlist-box .info .subscribe,
#right .playlist-box .info .unsubscribe {
    display: none;
}
#right .playlist-box > .playlist-header {
    width: 300px;
    margin-bottom: 5px;
}
#right .playlist-box .tracklist-container {
    clear: both;
    overflow: hidden;
    max-height: 200px;
    margin-bottom: 5px;
}

/** BOTTOM
 ****************************************************************************/
body.fullscreen #bottom:hover,
body.fullscreen #bottom.on,
#bottom {
    position: absolute;
    width: 100%;
    height: 69px;
    bottom: 0;
    z-index: 10;
    border-top: 1px solid #999;
    box-shadow: 0px 0px 1px #333;
    
    color: #CCC;
    text-shadow: 0px 1px 1px #000;
    
    overflow: hidden;
    background:-webkit-linear-gradient(bottom, #333 0%, #999 100%);
    background:-moz-linear-gradient(bottom, #333 0%, #999 100%);
    background:-ms-linear-gradient(bottom, #333 0%, #999 100%);
    background:-o-linear-gradient(bottom, #333 0%, #999 100%);
    background:linear-gradient(bottom, #333 0%, #999 100%);
    
    -webkit-transition: bottom 200ms ease-in-out;
    -moz-transition: bottom 200ms ease-in-out;
    -ms-transition: bottom 200ms ease-in-out;
    -o-transition: bottom 200ms ease-in-out;
    transition: bottom 200ms ease-in-out;
}

body.fullscreen #bottom {
    bottom: -70px;
    -webkit-transition: bottom 500ms ease-in-out;
    -moz-transition: bottom 500ms ease-in-out;
    -ms-transition: bottom 500ms ease-in-out;
    -o-transition: bottom 500ms ease-in-out;
    transition: bottom 500ms ease-in-out;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;

}

#bottom .info,
#bottom .fullscreen {
    color: #EEE;
}

#bottom .controls {
    width: 320px;
    height: 68px;
    padding-top: 0px;
    text-align: center;
    display: inline-block;
}
#bottom .controls  .border {
    display: inline-block;
    margin: 5px 0px 8px 0px;

    border-radius: 50px;
}
#bottom .controls  .border.middle {
    margin: 5px 10px 0px 10px;
}

#bottom .controls .prev,
#bottom .controls .playpause,
#bottom .controls  .next {
    cursor: pointer;
    display: block;
    width: 33px;
    height: 33px;
    margin: 5px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 2px #000;
    background:-webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-moz-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-ms-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-o-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:linear-gradient(top, #EEE 0%, #CCC 100%);
    color: #333;
    text-shadow: none;
}
#bottom .controls .prev:hover,
#bottom .controls .playpause:hover,
#bottom .controls  .next:hover {
    color: #000;
}
#bottom .controls .playpause {
    width: 50px;
    height: 50px;
}
#bottom .controls .prev:active,
#bottom .controls .playpause:active,
#bottom .controls  .next:active {
    box-shadow: 0px 0px 3px #000, inset 0px 0px 3px #000;
    color: #000;
}
#bottom .controls .prev:after {
    content: 'Å';
    font-family: YoutifyRegular;
    font-size: 36px;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: 6px;
}
#bottom .controls .playpause:after {
    content: '{';
    font-family: YoutifyRegular;
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    top: 3px;
    left: 18px;
}
.playing #bottom .controls .playpause:after {
    content: '|';
    font-family: YoutifyRegular;
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    top: 3px;
    left: 17px;
}
#bottom .controls .next:after {
    content: 'Ä';
    font-family: YoutifyRegular;
    font-size: 36px;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: 8px;
}
#bottom .info {
    position: absolute;
    top: 7px;
    left: 320px;
    height: 28px;
    overflow: hidden;
    width: 100%;
    padding-right: 360px; /* #controls.width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#bottom .info .i {
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
#bottom .info .i:before {
    content: '`';
    font-family: YoutifyRegular;
    font-size: 40px;
    line-height: 20px;
    position: absolute;
    top: -5px;
    left: -2px;
}
#bottom .info .i:hover,
#bottom .info .title:hover {
    color: #000;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}

#bottom .info .title {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: inline;
}
#bottom .timeline-wrapper {
    position: absolute;
    top: 44px;
    left: 320px;
    height: 12px;
    width: 100%;
    padding-right: 550px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#bottom .timeline-wrapper .position,
#bottom .timeline-wrapper .length{
    position: absolute;
    top: -3px;
    text-align: center;
    width: 45px;
    display: block;
}
#bottom .timeline-wrapper .position {
    right: 585px;
}
#bottom .timeline-wrapper .position:after{
    content:' /';
}
#bottom .timeline-wrapper .length {
    right: 540px;
    text-align: left;
}
#bottom .timeline,
#bottom .volume {
    width: auto;
    height: 10px;
    border: 1px solid #333;
    border-radius: 6px;
    background: #666;
    padding-right: 5px;
}
#bottom .timeline-wrapper .timeline {
    margin: 1px 90px 0 0;
}
#bottom.timeline .buffer,
#bottom .timeline .slider,
#bottom .volume .slider {
    height: 100%;
    background:-webkit-linear-gradient(top, #CCC 0%, #999 100%);
    background:-moz-linear-gradient(top, #CCC 0%, #999 100%);
    background:-ms-linear-gradient(top, #CCC 0%, #999 100%);
    background:-o-linear-gradient(top, #CCC 0%, #999 100%);
    background:linear-gradient(top, #CCC 0%, #999 100%);
    border-radius: 10px;
    position: relative;
}
#bottom .timeline .buffer {
    height: 10px;
    position: absolute;
    bottom: 0;
    margin-left: 4px;
    border-radius: 5px;
    background:-webkit-linear-gradient(top, #666 30%, #888 100%);
    background:-moz-linear-gradient(top, #666 30%, #888 100%);
    background:-ms-linear-gradient(top, #666 30%, #888 100%);
    background:-o-linear-gradient(top, #666 30%, #888 100%);
    background:linear-gradient(top, #666 30%, #888 100%);
}
#bottom .timeline .buffer,
#bottom .timeline .slider {
    width: 0;
}
#bottom .volume-wrapper {
    position: absolute;
    right: 44px;
    top: 44px;
    width: 150px;
    padding: 0 20px 0 20px;
    height: 12px;
}
#bottom .volume-wrapper:before {
    content: '1';
    font-family: YoutifyRegular;
    font-size: 60px;
    line-height: 20px;
    position: absolute;
    top: -22px;
    left: 7px;
}
#bottom .volume-wrapper:after {
    content: '3';
    font-family: YoutifyRegular;
    font-size: 60px;
    line-height: 20px;
    position: absolute;
    top: -22px;
    right: 1px;
}
#bottom .volume-wrapper .volume {
    width: auto;
    margin: 1px 10px 0 10px;
}
#bottom .volume-wrapper .slider {
    width: 100%;
}
#bottom .timeline-wrapper .slider .knob,
#bottom .volume-wrapper .knob {
    position: absolute;
    top: 0px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background:-webkit-linear-gradient(top, #EEE 0%, #AAA 100%);
    background:-moz-linear-gradient(top, #FFF 0%, #AAA 100%);
    background:-ms-linear-gradient(top, #FFF 0%, #AAA 100%);
    background:-o-linear-gradient(top, #FFF 0%, #AAA 100%);
    background:linear-gradient(top, #FFF 0%, #AAA 100%);
}

#bottom .fullscreen {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 12px;
    cursor: pointer;
    overflow: hidden;
}
#bottom .fullscreen:after {
    content: 'Ñ';
    font-family: YoutifyRegular;
    font-size: 42px;
    line-height: 20px;
    position: absolute;
    top: -12px;
    left: -2px;
}
#bottom .fullscreen.on:after {
    content: 'Ö';
    font-family: YoutifyRegular;
    font-size: 42px;
    line-height: 20px;
    color: purple;
    position: absolute;
    top: -12px;
    left: -2px;
}

#bottom .shuffle {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 6px;
    right: 12px;
    cursor: pointer;
    overflow: hidden;
}
#bottom .shuffle:after {
    content: 'f';
    font-family: YoutifyRegular;
    font-size: 38px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: -11px;
    left: -1px;
}
#bottom .shuffle.on:after {
    color: purple;
}

/** CONTEXTMENU
 ****************************************************************************/
 
 .blocker {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: transparent;
}

#contextmenu {
    position: absolute;
    z-index: 25;
    padding: 5px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.8);
    background: white;
}
#contextmenu .option {
    padding: 5px 5px 5px 30px;
    cursor: pointer;
}
#contextmenu .option.import:before,
#contextmenu .option.remove-duplicates:before,
#contextmenu .option.recommendations:before,
#contextmenu .option.rename:before,
#contextmenu .option.delete:before,
#contextmenu .option.share:before,
#contextmenu .option.sync:before,
#contextmenu .option.unsync:before,
#contextmenu .option.json:before,
#contextmenu .option.play:before,
#contextmenu .option.queue:before,
#contextmenu .option.add-to-playlist:before,
#contextmenu .option.view:before,
#contextmenu .option.buy:before,
#contextmenu .option.replace:before {
    font-family: 'YoutifyRegular';
    font-size: 30px;
    position: relative;
    line-height: 0;
    display: block;
    position: absolute;
    margin: 2px 5px 0 -25px;
    text-align: center;
    width: 20px;
}
#contextmenu .option.import:before {
    content:')';
}
#contextmenu .option.remove-duplicates:before {
    content:'I';
}
#contextmenu .option.recommendations:before {
    content: 'ô';
}
#contextmenu .option.rename:before {
    content:'&';
}
#contextmenu .option.delete:before {
    content:'^';
}
#contextmenu .option.delete:hover:before {
    color: red;
}
#contextmenu .option.share:before {
    content:'>';
}
#contextmenu .option.sync:before {
    content:'ã';
}
#contextmenu .option.unsync:before {
    content:'ä';
}
#contextmenu .option.json:before {
    content:'a';
}
#contextmenu .option.play:before {
    content:'{';
}
#contextmenu .option.queue:before {
    content:'j';
}
#contextmenu .option.add-to-playlist:before {
    content:'i';
    margin-left: -26px;
}
#contextmenu .option.view:before {
    content:'*';
}
#contextmenu .option.buy:before {
    content:'C';
}
#contextmenu .option.replace:before {
    content: '\21B9';
    font-size: 20px;
    margin: 7px 5px 0 -25px;
}
#contextmenu .option:hover {
    background-color: rgba(62, 126, 221, 1);
    color: #FFF;
}

/** DRAG N DROP
 ****************************************************************************/
.video.dragged {
    opacity: 0.7;
}
#dragElem {
    opacity: 0.9;
    position: absolute;
    box-shadow: 0px 0px 20px #888;
    z-index: 25;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.2);
}
#dragElem .overflow {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 250px;
    text-align: center;
}    
#dragElem .track {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 250px;
    padding-left: 12px;
    overflow: hidden;
}
#dragElem span:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.2)
}
#dragElem .track:before {
    content: '{';
    font-family: YoutifyRegular;
    font-size: 34px;
    line-height: 20px;
    color: #666;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: relative;
    vertical-align: -20%;
    padding-right: 30px;
}
#right .playlists.target {
    background: inherit;
}
.reorderable {
}
.results > .insert-before,
#playlists > .insert-before {
    border-top: 1px solid black;
}
.insert-after,
.insert-after {
    border-bottom: 1px solid black;
}

/** POPUP
 ****************************************************************************/

.popup {
    max-height: 90%;
	width: 270px;
	padding: 10px;
	position: absolute;
	background-color: white;
    color: #333;
    z-index:200;
	box-shadow: 0px 0px 20px #888;
}
.popup.no-overflow {
    overflow: hidden;
}
.popup a,
.popup .link {
    color: purple;
    text-decoration: none;
    cursor: pointer;
}
.popup a:hover {
    text-decoration: underline;
}
.popup .button:hover {
    text-decoration: none;
}
.arrow {
    display: block;
	position: absolute;
    z-index: 10000;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.arrow.left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.arrow.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.popup h2 {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

/** LOGIN REQUIRED POPUP
 ****************************************************************************/

#login-required-popup {
    text-align: center;
}
#login-required-popup p {
    font-weight: bold;
}
#login-required-popup .button {
    margin-top: 10px;
}

/** SIMILAR ARTISTS POPUP
 ****************************************************************************/

#similar-artists-popup {
    max-height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#similar-artists-popup .suggestion {
    background-repeat: no-repeat;
    background-size: 40px;
    margin-bottom: 10px;
}
#similar-artists-popup .suggestion .name {
    /* Make sure this elem takes up the whole width/height, so that the whole
     * suggestion box is clickable. */
    display: block;
    padding-left: 45px;
    height: 40px;
}

/** PROFILE POPUP
 ****************************************************************************/

#profile-popup li {
    padding: 5px;
    min-width: 100px;
}
#profile-popup li a:hover {
    text-decoration: none;
}
#profile-popup li:hover {
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    background-color: rgb(62, 126, 221);
}
#profile-popup .link {
    display: block;
    color: inherit;
}

/** NOTIFICATIONS POPUP
 ****************************************************************************/

#activities-popup {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#activities-popup .activity {
    position: relative;
    padding-left: 45px;
    min-height: 40px;
    margin-bottom: 10px;
}
#activities-popup .activity img {
    position: absolute;
    left: 0px;
    width: 40px;
    height: 40px;
}
#activities-popup .activity .user {
    display: inline;
}
#activities-popup .activity:last-child {
    margin-bottom: 0px;
}
#activities-popup .activity .timestamp {
    font-size: 12px;
    color: #666;
    display: block;
}
#activities-popup .loading-animation {
    display: none;
}
#activities-popup.loading .loading-animation {
    display: block;
}

/** SETTINGS POPUP
 ****************************************************************************/

#settings {
	float: right;
}
#settings > div {
    margin-bottom: 10px;
}
#settings > div:last-child {
    margin-bottom: 0;
}
#settings .language > select {
	min-width: 150px;
}
#settings .quality > span {
	display: inline-block;
	padding: 4px 8px 0 0;
}
#settings .quality > input {
	vertical-align: baseline;
}
#settings .language a {
    display: block;
}
#settings .connections .connection {
    line-height: 16px;
    margin-top: 10px;
}
#settings .connections .connection:first-child {
    margin-top: 0;
}
#settings .connections .connection .title {
    padding-left: 20px;
}
#settings .connections .flattr .account {
    background: url(/images/flattr_16.png) no-repeat center left;
}
#settings .connections .lastfm .account {
    background: url(/images/lastfm_16.png) no-repeat center left;
}
#settings .connections .action {
    float: right;
}
#settings .connections .settings {
    margin-top: 5px;
}

/** ABOUT POPUP
 ****************************************************************************/

#about-popup {
	width: 626px;
	vertical-align: top;
}
#about-popup .column {
	width: 300px;
	vertical-align: top;
    display: inline-block;
    margin: 0 5px
}
#about-popup .logos {
	height: 110px;
	width: auto;
	background: #FFF;
	margin-bottom: 10px;
    text-align: center;
}
#about-popup .logo {
    background: url('/images/banner-grey/banner-grey_192x64.png') center center no-repeat;
    width: 100%;
	height: 64px;
    display: block;
}
#about-popup .yt-power {
	padding: 5px;
	background: url('/images/powered_by_yt.gif') center center no-repeat;
	width: 63px;
	height: 50px;
	display: inline-block;
}
#about-popup .sc-power {
	padding: 5px;
	background: url('/images/powered_by_sc.png') center center no-repeat;
	width: 80px;
	height: 50px;
	display: inline-block;
}
#about-popup .ofm-power {
	padding: 5px;
	background: url('/images/powered_by_ofm.png') center center no-repeat;
	width: 116px;
	height: 50px;
	display: inline-block;
}
#about-popup .donate p {
    margin-bottom: 10px;
    background: url(/images/purple_heart.png) right bottom no-repeat;
    text-align: left;
    padding-right: 32px;
}
#about-popup div.share .block {
    display: inline-block;
    margin-right: 10px;
}
#about-popup div.links {
    margin-bottom: 10px;
}
#about-popup div.links a {
    display: block;
}

/** SPOTIFY IMPORTER POPUP
 ****************************************************************************/

#spotify-importer {
	width: 300px;
	text-shadow: 0px 1px 1px transparent;
}
#spotify-importer h2 {
    border-bottom: 1px solid rgba(255,255,255,0.7);
    text-align: left;
    margin-bottom: 5px;
	text-shadow: 0px 1px 1px transparent;
	float: left;
}

#spotify-importer span {
	float: right;
    color: #007C89;
    cursor: pointer;
}

#spotify-importer textarea {
	width: 298px;
	height: 150px;
	outline: 0;
	resize: none;
}
#spotify-importer .added {
	display: block;
	margin-left: 65px;
	margin-top: 10px;
	float: left;
	text-align: right;
}
#spotify-importer .max {
	margin-top: 10px;
	display: block;
	float: left;
}
#spotify-importer .cancel {
	float: left;
	margin-top: 5px;
}
#spotify-importer .start {
	float: right;
	margin-top: 5px;
}

/** VIDEO INFO POPUP
 ****************************************************************************/
#video-info-popup {
    height: auto;
    z-index: 9999;
    word-break: hyphenate;
    word-wrap: break-word;
}
#video-info-popup.no-overflow {
    overflow: hidden;
    max-height: 90%;
}
#video-info-popup.no-overflow .sections {
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#video-info-popup .title-and-description {
    display: block;
    margin-top: 10px;
}
#video-info-popup .title-and-description a.subtitle {
    display: block;
}
#video-info-popup .title-and-description .description {
    display: block;
    margin: 5px 0;
    -moz-user-select: text;
    -moz-user-select: -moz-text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
#video-info-popup .sections li {
    min-height: 100px;
}
#video-info-popup .sections li.found {
    position: relative;
}
#video-info-popup .sections li.found .content {
    position: relative;
    padding-left: 55px;
}
#video-info-popup .sections img {
    width: 48px;
    position: absolute;
    left: 0;
    top: 0;
}
#video-info-popup .sections .button:active {
    background: #ccc;
}
#video-info-popup .sections .button:hover {
    border: 1px solid #aaa;
}
#video-info-popup .sections .button.loading {
    color: #888;
}
#video-info-popup .sections .button .count {
    margin-right: 5px;
    font-weight: bold;
}

/** PROFILE POPUP
 ****************************************************************************/

#profile-popup {
    width: auto;
}

/** LOGO POPUP
 ****************************************************************************/

#logo-popup {
    width: 500px;
    height: 75%;
    overflow: hidden;
}
#logo-popup > div {
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#logo-popup h1 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}
#logo-popup h2 {
    border: none;
}
#logo-popup .section {
    width: 460px;
}

/** LOGGED OUT POPUP
 ****************************************************************************/
#logged-out-notification {
    text-align: center;
    padding: 5px 10px;
    width: auto;
}
#logged-out-notification > span {
    line-height: 40px;
}
#logged-out-notification > span:before {
    content: 'c';
    font-family: YoutifyRegular;
    font-size: 44px;
    line-height: 20px;
    position: relative;
    vertical-align: -30%;
    padding-right: 5px;
}

/** MODAL BOXES
 ****************************************************************************/

.modalbox {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}
.modalbox .top {
    text-align: right;
}
.modalbox .close {
    cursor: pointer;
    font-family: YoutifyRegular;
    font-size: 46px;
    line-height: 0px;
    font-weight: normal;
}
.modalbox .wrapper {
    width: 300px;
    padding: 10px;
    color: #333;
    background: white;
    text-align: center;
    margin: 100px auto;
    z-index: 300;
	box-shadow: 0px 0px 20px #333;
}
.modalbox .buttons {
    margin-top: 10px;
}
.modalbox .buttons button {
    margin-right: 5px;
}
.modalbox .buttons button:last-child {
    margin-right: 0;
}

/** MISC
 ****************************************************************************/

#loading {
    display: none;
    position: absolute;
    top: 200px;
    width: 150px;
    height: 120px;
    padding-top: 30px;
    background: url('/images/bigsnake.gif') center center no-repeat black;
    color: white;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    z-index: 25;
    border-radius: 10px;
    font-size: 16px;
}

#loading.error {
    background: url('/images/bigsnake.gif') center center no-repeat red;
}

#right .activity {
    padding: 5px 0;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}
#right .activity:first-child {
    padding-top: 0;
}
#right .activity .timestamp {
    font-weight: bold;
}

#right .pane.flattr .puff {
    padding: 5px 5px;
    text-align: center;
}

#top .link,
#right .link {
    color: purple;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
}
#top .video.selected .link,
#right .video.selected .link {
    color: #FFF;
}

.user.small img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.popup .user.small {
    display: block;
    margin-bottom: 5px;
}
.popup .user.small:last-child {
    margin-bottom: 0;
}

/** MISC
 ****************************************************************************/

#right .external-profile img {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 88px;
    height: 88px;
    margin: 0 10px 10px 0;
}

#right .external-profile .info {
    display: block;
}

#right .external-profile .info .recommendations:after {
    content: ' \25BE';
    font-size: 16px;
    color: #666;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

#right .external-profile h1 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    clear: right;
    line-height: 30px;
}
#right .external-profile .subscribe,
#right .external-profile .unsubscribe {
    float: left;
    margin-right: 10px;
}
#right .external-profile .link {
    clear: right;
    line-height: 30px;
}
#right .external-profile .description {
    font-style: italic;
    display: block;
    margin-top: 5px;
}
#right .external-profile .tracklist {
    margin-top: 5px;
}

/** SHARE DIALOG
 ****************************************************************************/

.modalbox.share input {
    display: block;
    width: 294px;
    margin-top: 10px;
}
.modalbox.share .share-button {
    margin-top: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.modalbox.share .share-button.twitter {
    background: #31A3D0;
}
.modalbox.share .share-button.facebook {
    background: rgb(59, 89, 152);
}

/** ADD TO PLAYLIST DIALOG
 ****************************************************************************/

.modalbox.add-to-playlist .buttons {
    text-align: right;
}

.modalbox.add-to-playlist select {
    width: 294px;
}

/** HOME
 ****************************************************************************/

.home .artist.suggestion,
.home .pane.artists .item {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    margin: 10px 10px 40px 10px;
    text-align: center;
    opacity: 0;
    -moz-transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.home .artist.suggestion .name,
.home .pane.artists .item .title {
    width: 100px;
    font-size: 12px;
    color: purple;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: -34px;
    height: 34px;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    word-break: hyphenate;
    word-wrap: break-word;
}
.home .pane.artists .hover {
    width: 100px;
    height: 100px;
}
.home .pane.artists .hover:hover {
    background: rgba(255, 255, 255, 0.3);
}
.home .pane.artists .hover:hover:after {
    content: '{';
    font-family: YoutifyRegular;
    cursor: pointer;
    color: rgb(102, 166, 255);
    position: absolute;

    font-size: 50px;
    width: 33px;
    height: 33px;
    line-height: 19%;
    top: 35px;
    left: 35px;
    padding-left: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 50px;
    box-shadow: 0px 0px 2px #000;
    background:-webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-moz-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-ms-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:-o-linear-gradient(top, #EEE 0%, #CCC 100%);
    background:linear-gradient(top, #EEE 0%, #CCC 100%);

    color: #333;
}
.home .pane.artists .hover:active:after {
    box-shadow: 0px 0px 3px #000, inset 0px 0px 3px #000;
    color: #000;
}
.home .pane.artists .item .title:hover {
    text-decoration: underline;
}

/** LOADING ANIMATION
 ****************************************************************************/

.loading-animation {
    text-align: center;
    -webkit-transform: translateZ(0);
}
.loading-animation div {
    background: #333;
    border-radius: 15px;
    width:10px;
    height:10px;
    display: inline-block;
    margin-left: 5px;
    opacity:0.1;
    -webkit-animation-name: loading-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -moz-animation-name: loading-animation;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    animation-name: loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}
.loading-animation div:first-child {
    margin-left: 0;
}
.loading-animation div:nth-child(1) {
    -webkit-animation-delay: .0s;
    -moz-animation-delay: .0s;
    animation-delay: .0s;
}
.loading-animation div:nth-child(2) {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
}
.loading-animation div:nth-child(3) {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;
}
@-webkit-keyframes loading-animation {
    0%   { -webkit-transform: scale(1.0); opacity:1.0; }
    100% { -webkit-transform: scale(1.0); opacity:0.1; }
}
@-moz-keyframes loading-animation {
    0%   { -moz-transform: scale(1.0); opacity:1.0; }
    100% { -moz-transform: scale(1.0); opacity:0.1; }
}
@keyframes loading-animation {
    0%   { transform: scale(1.0); opacity:1.0; }
    100% { transform: scale(1.0); opacity:0.1; }
}
