#flattr-popup .things li {
    position: relative;
    height: 100px;
    padding-right: 60px;
    padding-left: 55px;
}
#flattr-popup .things img {
    position: absolute;
    left: 0;
    top: 0;
}
#flattr-popup .things .button {
    display: block;
    padding: 4px;
    background: white;
    color: black;
    border: 1px solid black;
    position: absolute;
    right: 0;
    top: 25px;
    cursor: pointer;
}
#flattr-popup .things .button .count {
    margin-right: 5px;
    color: green;
}
#settings .flattr .disconnect {
    display: block;
}
