#flattr-popup .things li {
    position: relative;
    height: 100px;
    padding-right: 30px;
}
#flattr-popup .things li.loading {
    background: url(/images/loading.gif) no-repeat left center;
}
#flattr-popup .things .button {
    width: 20px;
    height: 10px;
    display: none;
    background: gray;
    border: 1px solid black;
    position: absolute;
    right: 0;
}
#flattr-popup .things .found .button {
    display: block;
}
