body.fullscreen #top {
    display: none;
}
body.fullscreen #bottom {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    
    background:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 50%, rgba(0, 0, 0, 0.4) 100%);
    background:-moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 50%, rgba(0, 0, 0, 0.4) 100%);
    background:-ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 50%, rgba(0, 0, 0, 0.4) 100%);
    background:-o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 50%, rgba(0, 0, 0, 0.4) 100%);
    background:linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 50%, rgba(0, 0, 0, 0.4) 100%);
}

body.fullscreen #bottom .controls {
    height: 30px;
    display: inline-block;
    padding: 0;
}
body.fullscreen #bottom .controls  .border {
    display: inline-block;
    margin: 0px 0px 10px 0px;

    border-radius: 50px;
    background:-webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    background:-moz-linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    background:-ms-linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    background:-o-linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    background:linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}
body.fullscreen #bottom .controls  .border.middle {
    margin: 0px 5px 8px 5px;
}

body.fullscreen #bottom .controls .prev,
body.fullscreen #bottom .controls .playpause,
body.fullscreen #bottom .controls  .next {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 50px;
    position: relative;

    background: -webkit-linear-gradient(bottom, #3E3E3E 0%, #BCBCBC 100%);
    background: -moz-linear-gradient(bottom, #3E3E3E 0%, #BCBCBC 100%);
    background: -ms-linear-gradient(bottom, #3E3E3E 0%, #BCBCBC 100%);
    background: -o-linear-gradient(bottom, #3E3E3E 0%, #BCBCBC 100%);
    background: linear-gradient(bottom, #3E3E3E 0%, #BCBCBC 100%);
}
body.fullscreen #bottom .controls .playpause{
    width: 22px;
    height: 22px;
}
body.fullscreen #bottom .controls .prev:active,
body.fullscreen #bottom .controls .playpause:active,
body.fullscreen #bottom .controls  .next:active {
    box-shadow: 0px 0px 5px #000, inset 0px 0px 5px #000;
}
body.fullscreen #bottom .controls .prev:after {
    content: 'Å';
    font-family: EntypoRegular;
    font-size: 24px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -3px;
    left: 3px;
}
body.fullscreen #bottom .controls .playpause:after {
    content: '{';
    font-family: EntypoRegular;
    font-size: 36px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -4px;
    left: 6px;
}
body.fullscreen.playing #bottom .controls .playpause:after {
    content: '|';
    font-family: EntypoRegular;
    font-size: 36px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -4px;
    left: 5px;
}
body.fullscreen #bottom .controls .next:after {
    content: 'Ä';
    font-family: EntypoRegular;
    font-size: 24px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -3px;
    left: 4px;
}

body.fullscreen #bottom .info {
    position: absolute;
    top: 0px;
    left: 320px;
    height: 20px;
    width: 100%;
    padding-right: 555px; /* #controls.width + volume.width */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body.fullscreen #bottom .info .title,
body.fullscreen #bottom .share-wrapper,
body.fullscreen #bottom .share-wrapper .flattr,
body.fullscreen #bottom .share-wrapper .flattr:before,
body.fullscreen #bottom .share-wrapper .flattr:hover:before,
body.fullscreen #bottom .share-wrapper .flattr:active,
body.fullscreen #bottom .share-wrapper .flattr .badge,
body.fullscreen #bottom .share-wrapper .share,
body.fullscreen #bottom .shuffle {
    display: none;
}
body.fullscreen #bottom .timeline-wrapper {
    position: absolute;
    top: 7px;
    left: 320px;
    height: 15px;
    width: 100%;
    padding-right: 550px; /* #controls.width + volume.width */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body.fullscreen #bottom .timeline-wrapper .position,
body.fullscreen #bottom .timeline-wrapper .length{
    position: absolute;
    top: 0px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 45px;
    display: block;
}
body.fullscreen #bottom .timeline-wrapper .position {
    left: 0px;
}
body.fullscreen #bottom .timeline-wrapper .length {
    right: 550px; /* #controls.width + volume.width + 5 */
}
body.fullscreen #bottom .timeline-wrapper .timeline {
    width: auto;
    height: 15px;
    margin: 0px 45px;
    background: #414141;
    border-radius: 50px;
    box-shadow: inset 3px 3px 3px #2C2C2C;
}
body.fullscreen #bottom .timeline-wrapper .slider {
    height: 15px;
    position: relative;
    width: 0;
    border-radius: 50px;
    box-shadow: inset 3px 3px 3px #2C2C2C;
    background:-webkit-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:-moz-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:-ms-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:-o-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
}
body.fullscreen #bottom .timeline-wrapper .slider .knob {
    position: absolute;
    display: none;
    top: -4px;
    right: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background: url("/images/knob.png") no-repeat -1px 0 transparent;
    box-shadow: 0px 3px 3px #2C2C2C;
}
body.fullscreen #bottom .volume-wrapper {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 150px;
    padding: 0 20px 0 20px;
    height: 15px;
}
body.fullscreen #bottom .volume-wrapper:before {
    content: url(/images/volume-down-small.png);
    position: absolute;
    top: -3px;
    left: 6px;
}
body.fullscreen #bottom .volume-wrapper:after {
    content: url(/images/volume-up-small.png);
    position: absolute;
    top: -2px;
    right: 5px;
}
body.fullscreen #bottom .volume-wrapper .volume {
    width: auto;
    height: 15px;
    margin: 0px 10px;
    background: #414141;
    border-radius: 50px;
    box-shadow: inset 3px 3px 3px #2C2C2C;
}

body.fullscreen #bottom .volume-wrapper .slider {
    height: 15px;
    width: 100%;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 3px 3px 3px #2C2C2C;
    background:-webkit-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:-moz-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:-ms-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:-o-linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
    background:linear-gradient(left, #679394 0%, #AEF7FD 50%, #679394 100%);
}
body.fullscreen #bottom .volume-wrapper .knob {
    position: absolute;
    top: -4px;
    right: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background: url(/images/knob.png) no-repeat -1px 0 transparent;
    box-shadow: 0px 3px 3px #2C2C2C;
}
body.fullscreen #bottom .fullscreen {
    top: 8px;
    left: 280px;
}
