/* MOBILE */
html, body, input, textarea, button, .button, #top .dropdown-button, #left .menu, #right .tabs > li, #right .playlist-header .title {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 10px;
}
body {
    min-height: 480px;
    min-width: 640px;
}
#top {
    position: fixed;
    padding: 0 5px;
}
#top .logo, #top .about {
    display: none;
}
#top .search input[type=search] {
    width: 80px;
}

#top .settings .title {
    display: none;
}
#top .settings:after {
    content: '@';
    font-family: YoutifyRegular;
    font-size: 48px;
    line-height: 8px;
    font-weight: normal;
    color: #222;
}
#top .go-left, #top .go-right {
    display: inline-block;
    width: 30px;
    cursor: pointer;
}
#top .go-left:after {
    content: 'ë';
}
#top .go-right:after {
    content: 'î';
}
#top .go-left:after, #top .go-right:after {
    position: absolute;
    top: 0px;
    font-family: YoutifyRegular;
    font-size: 56px;
    line-height: 20px;
    font-weight: normal;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

#left {
    padding-bottom: 80px;
    min-height: 360px;
}
#left .players,
#left .players .soundcloud,
#left .players .officialfm,
#left .players .youtube {
    width: 320px;
    height: 80px;
    background: #000;
    position: absolute;
    z-index: 30;
}

.right-wrapper {
    min-width: 640px;
}
#right {
    min-height: 360px;
}

#bottom {
    position: fixed;
}
#bottom .info, #bottom .volume-wrapper, #bottom .fullscreen, #bottom .shuffle, #bottom  .timeline-wrapper .position, #bottom .timeline-wrapper {
    display: none;
}
