@import url("base.css");

#info {
    margin: 20px 0;
}
#info h2,
#info ul {
    display: inline-block;
}
#info ul li {
    display: inline-block;
    margin-right: 8px;
}
td.translation input[type=text] {
    display: inline-block;
    width: 500px;
    margin-right: 8px;
}
td.translation input[type=submit] {
    display: inline-block;
}
#commentsPopup h2 {
    font-size: 22px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#commentsPopup ul {
    margin-top: 10px;
}
#commentsPopup li {
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
#commentsPopup li .date,
#commentsPopup li .user {
    display: block;
    color: #ccc;
    font-size: 12px;
}
#commentsPopup textarea {
    width: 100%;
    height: 50px;
}
